body {
	width:80%;
	margin-left:auto;
	margin-right:auto;
}


h1 {
	margin: auto;
	text-align: center;
}

tr, table {
	border: 0px solid black;
	color: white;
}

div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn_gameoption {
	height: auto;
	margin-left: 10px;
	margin-right: 10px;
}

.cc_r {
	background-color: red;
	color: white;
}

.cc_b {
	background-color: blue;
	color: white;
}

.cc_g {
	background-color: green;
	color: white;
}

.cc_y {
	background-color: yellow;
	color: black
}

.cc_w {
	background-color: gray;
}

.cardUserList {
	border: 1px solid black;
	border-radius: 10px;
}

.cardUserButton {
	margin-left: 10px;
	margin-right: 10px;
	padding: 5px;
}

.cardUser {
	
}

.cardval {
	text-align: center;
	font-size: 40px;
	margin: 2px;
	
}

.btn_wish {
	width: 100px;
	height: auto;
	text-align: center;
	margin-left: 15px;
	margin-right: 15px;
}

#text_piledraw, #text_piledisc, #text_pileopp {
	text-align: center;
	margin: 5px;
}

#text_cardtop {
	text-align: center;
}

#handcontainer {
	width: 500px;
	margin: auto;
	flex-wrap: wrap;
}

#userhand {
	margin: auto;
}

#handtext {
	text-align: center;
}

#btn_draw {
	margin-bottom: 10px;
}

#container_gameoptions {
	margin-bottom: 20px;
}

#error {
	color: red;
}

#debug {
	color: purple;
	text-align: center;
}